
.paper-box {
  width: 285px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgb(80,80,80);
}

.description-content {
  text-align: center;
}

.bottom-description {
  text-transform: uppercase;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

.footer{
  height: 20px;
  padding: 0 10px
}

.left-footer {
  float: left;
  font-size: 10px;
}

.right-footer {
  text-transform: uppercase;
  float: right;
  font-size: 10px;
}

.main-image {
  width: 100%;
}

.img-circle {
  border-radius: 50%;
  border: 1px solid #181819;
}

.middle-section {
  position: relative;
  margin-bottom:  40px;
  text-align: center;
}

.middle-section hr {
  margin: 2px 0;
}

.middle-section .img-circle {
  position: absolute;
  width: 64px;
  height: 64px;
  top: -34px;
  margin-left: -32px;
}

.location-text {
  font-size: 18px;
}
